.container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 23px;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45px;
    width: 45px;
    border: 2px solid rgb(0, 0, 0);
}